<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262047029538-si92i2r1vvgg4pp69nh01bedi88hmncg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262047029538-si92i2r1vvgg4pp69nh01bedi88hmncg</string>
	<key>API_KEY</key>
	<string>AIzaSyAT3sk_kCorr6QMPadKHUMjqXaiAQPTNEc</string>
	<key>GCM_SENDER_ID</key>
	<string>262047029538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>uohnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>uohnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262047029538:ios:17e647eea65122e0f1ed7b</string>
	<key>DATABASE_URL</key>
	<string>https://uohnotes-default-rtdb.firebaseio.com</string>
</dict>
</plist>